conf t
hostname DLS1
no ip domain-lookup
ip domain-name corp.local

! SSH / hardening basique
service password-encryption
enable secret En@ble!23
username admin privilege 15 secret Adm1n!23
crypto key generate rsa
 1024
ip ssh version 2

! VLANs
vlan 21 
name DIRECTION
vlan 22 
name MARKETING
vlan 30 
name SERVICES
vlan 99 
name GUEST
vlan 999 
name PARKING

! Trunk vers SW-ACC1
interface GigabitEthernet0/2
 description Trunk_to_SW-ACC1
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk native vlan 999
 switchport trunk allowed vlan 21,22,30,99,999
 spanning-tree portfast trunk

! Lien routé vers Router1
interface GigabitEthernet0/1
 description To_Router1
 no switchport
 ip address 10.10.255.1 255.255.255.252
 no shutdown

! SVIs (passerelles)
interface Vlan21
 ip address 10.10.21.1 255.255.255.0
 no shutdown
interface Vlan22
 ip address 10.10.22.1 255.255.255.0
 no shutdown
interface Vlan30
 ip address 10.10.30.1 255.255.255.0
 no shutdown
interface Vlan99
 ip address 10.10.99.1 255.255.255.0
 ip access-group GUEST_ONLY_INTERNET in
 no shutdown

! Routage
ip routing
ip route 0.0.0.0 0.0.0.0 10.10.255.2

! DHCP (exclusions + pools)
ip dhcp excluded-address 10.10.21.1 10.10.21.20
ip dhcp excluded-address 10.10.22.1 10.10.22.10
ip dhcp excluded-address 10.10.30.1 10.10.30.50
ip dhcp excluded-address 10.10.99.1 10.10.99.10

ip dhcp pool VLAN21_DIRECTION
 network 10.10.21.0 255.255.255.0
 default-router 10.10.21.1
 dns-server 10.10.30.11
 domain-name corp.local

ip dhcp pool VLAN22_MARKETING
 network 10.10.22.0 255.255.255.0
 default-router 10.10.22.1
 dns-server 10.10.30.11
 domain-name corp.local

ip dhcp pool VLAN30_SERVICES
 network 10.10.30.0 255.255.255.0
 default-router 10.10.30.1
 dns-server 10.10.30.11
 domain-name corp.local

! >>> Spécifique GUEST : DNS “externe” (optionnel) <<<
ip dhcp pool VLAN99_GUEST
 network 10.10.99.0 255.255.255.0
 default-router 10.10.99.1
 dns-server 203.0.113.53
 domain-name guest.local

! ACL : GUEST ne parle qu’à DHCP (SVI) + Internet
ip access-list extended GUEST_ONLY_INTERNET
 remark Autoriser DHCP client -> serveur (SVI)
 permit udp any host 10.10.99.1 eq 67
 remark Interdire tout trafic GUEST vers LAN interne 10.10.0.0/16
 deny   ip 10.10.99.0 0.0.0.255 10.10.0.0 0.0.255.255
 remark Autoriser le reste (Internet)
 permit ip any any

! VTY : SSH only (pas de telnet)
line vty 0 4
 login local
 transport input ssh
 exec-timeout 10 0
end
wr
