conf t
hostname SW-ACC1
no ip domain-lookup

vlan 21 
name DIRECTION
vlan 22 
name MARKETING
vlan 30 
name SERVICES
vlan 99 
name GUEST
vlan 999 
name PARKING

interface FastEthernet0/1
 description Uplink_to_DLS1
 switchport mode trunk
 switchport trunk native vlan 999
 switchport trunk allowed vlan 21,22,30,99,999
 spanning-tree portfast trunk

interface FastEthernet0/2
 description SRV_WEB
 switchport mode access
 switchport access vlan 30
 spanning-tree portfast

interface FastEthernet0/3
 description PC_DIRECTION
 switchport mode access
 switchport access vlan 21
 spanning-tree portfast

interface FastEthernet0/4
 description PC_MARKETING
 switchport mode access
 switchport access vlan 22
 spanning-tree portfast

interface FastEthernet0/5
 description PC_GUEST
 switchport mode access
 switchport access vlan 99
 spanning-tree portfast

interface FastEthernet0/6
 description SRV_DNS
 switchport mode access
 switchport access vlan 30
 spanning-tree portfast
end
wr
