conf t
hostname DLS1
no ip domain-lookup
ip domain-name corp.local

! Sécurité SSH
service password-encryption
enable secret En@ble!23
username admin privilege 15 secret Adm1n!23
crypto key generate rsa
 1024
ip ssh version 2

! VLANs
vlan 21 
name DIRECTION
vlan 22 
name MARKETING
vlan 30 
name SERVICES
vlan 99 
name GUEST
vlan 999 
name PARKING

! Trunk vers SW-ACC1
interface GigabitEthernet0/2
 description Trunk_to_SW-ACC1
 switchport trunk encapsulation dot1q
 switchport mode trunk
 switchport trunk native vlan 999
 switchport trunk allowed vlan 21,22,30,99,999
 spanning-tree portfast trunk

! Lien vers Router1
interface GigabitEthernet0/1
 description To_Router1
 no switchport
 ip address 10.10.255.1 255.255.255.252
 no shutdown

! Passerelles VLANs
interface Vlan21
 ip address 10.10.21.1 255.255.255.0
 no shutdown
interface Vlan22
 ip address 10.10.22.1 255.255.255.0
 ip access-group BLOCK_DIRECTOR in
 no shutdown
interface Vlan30
 ip address 10.10.30.1 255.255.255.0
 no shutdown
interface Vlan99
 ip address 10.10.99.1 255.255.255.0
 ip access-group BLOCK_DIRECTOR in
 no shutdown

! Routage
ip routing
ip route 0.0.0.0 0.0.0.0 10.10.255.2

! DHCP
ip dhcp excluded-address 10.10.21.1 10.10.21.20
ip dhcp excluded-address 10.10.22.1 10.10.22.10
ip dhcp excluded-address 10.10.30.1 10.10.30.50
ip dhcp excluded-address 10.10.99.1 10.10.99.10

ip dhcp pool VLAN21_DIRECTION
 network 10.10.21.0 255.255.255.0
 default-router 10.10.21.1
 dns-server 10.10.30.11
 domain-name corp.local

ip dhcp pool VLAN22_MARKETING
 network 10.10.22.0 255.255.255.0
 default-router 10.10.22.1
 dns-server 10.10.30.11
 domain-name corp.local

ip dhcp pool VLAN30_SERVICES
 network 10.10.30.0 255.255.255.0
 default-router 10.10.30.1
 dns-server 10.10.30.11
 domain-name corp.local

ip dhcp pool VLAN99_GUEST
 network 10.10.99.0 255.255.255.0
 default-router 10.10.99.1
 dns-server 10.10.30.11
 domain-name corp.local

! ACL sécurité
ip access-list extended BLOCK_DIRECTOR
 deny ip 10.10.22.0 0.0.0.255 host 10.10.21.10
 deny ip 10.10.99.0 0.0.0.255 host 10.10.21.10
 permit ip any any

! SSH only
line vty 0 4
 login local
 transport input ssh
 exec-timeout 10 0

end
wr
