conf t
hostname Router1
no ip domain-lookup
ip domain-name corp.local

! SSH
service password-encryption
enable secret En@ble!23
username admin privilege 15 secret Adm1n!23
crypto key generate rsa
 1024
ip ssh version 2

! Interface vers DLS1
interface GigabitEthernet0/0/1
 description To_DLS1
 ip address 10.10.255.2 255.255.255.252
 no shutdown

! Interface vers ISP
interface GigabitEthernet0/0/0
 description To_ISP
 ip address 203.0.113.1 255.255.255.252
 no shutdown

! Routage
ip route 10.10.0.0 255.255.0.0 10.10.255.1
ip route 0.0.0.0 0.0.0.0 203.0.113.2

! SSH only
line vty 0 4
 login local
 transport input ssh
 exec-timeout 10 0
end
wr
